.ProseMirror {
  border: 1px solid silver;
}

.ProseMirror-content {
  padding: 4px 8px;
  white-space: pre-wrap;
  line-height: 1.2;
}

.ProseMirror p,
.ProseMirror li,
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6,
.ProseMirror pre {
  min-height: 1.2em;
}

.ProseMirror ul.tight p, .ProseMirror ol.tight p {
  margin: 0;
}

/* Kludge to work around https://code.google.com/p/chromium/issues/detail?id=466148&thanks=466148&ts=1426090625 */
.ProseMirror li p:empty:after {
  content: "";
  display: block;
}
